:root,
.light,
.light-theme {
  --adult-a1: #c0800004;
  --adult-a2: #f4d10016;
  --adult-a3: #ffde003d;
  --adult-a4: #ffd40063;
  --adult-a5: #f8cf0088;
  --adult-a6: #eab5008c;
  --adult-a7: #dc9b009d;
  --adult-a8: #da8a00c9;
  --adult-a9: #ffb300c2;
  --adult-a10: #ffb300e7;
  --adult-a11: #ab6400;
  --adult-a12: #341500dd;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --adult-a1: color(display-p3 0.757 0.514 0.024 / 0.016);
      --adult-a2: color(display-p3 0.902 0.804 0.008 / 0.079);
      --adult-a3: color(display-p3 0.965 0.859 0.004 / 0.22);
      --adult-a4: color(display-p3 0.969 0.82 0.004 / 0.35);
      --adult-a5: color(display-p3 0.933 0.796 0.004 / 0.475);
      --adult-a6: color(display-p3 0.875 0.682 0.004 / 0.495);
      --adult-a7: color(display-p3 0.804 0.573 0 / 0.557);
      --adult-a8: color(display-p3 0.788 0.502 0 / 0.699);
      --adult-a9: color(display-p3 1 0.686 0 / 0.742);
      --adult-a10: color(display-p3 0.945 0.643 0 / 0.726);
      --adult-a11: color(display-p3 0.64 0.4 0);
      --adult-a12: color(display-p3 0.294 0.208 0.145);
    }
  }
}
